img{
    width: 450px;
    height: 300px;
}
body{
    background-color:rgb(100, 96, 96)
}
h1{
    font-size: 85px;
   
    color:white;
  
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.paragraph{
    font-size: 17px;
}
#header{
    color: white;
}
th{
    background-color: black;
}
table{
    background-color:white ; 
    width: 1400px;
    height:200px
}
p{
    background-color: bisque;
}
.header{
    color:red; 
    text-align: center;
    font-size: 40px;
    font-family:fantasy;
}
.header:hover{
    color:skyblue;
}
.main{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.a:hover::after{
    content: "big heaqphones"
}
.b:hover::after{
    content: "smaller headphones"
}
.c:hover::after{
    content: "skinny headphones"
}
.d:hover::after{
    content: "wireless over-ear headphones"
}
.e:hover::after{
    content: "wireless headphones"
}